---
layout: archive
permalink: /year-archive/
title: "Blog Posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

<div class="archive">
  <h1>{{ page.title }}</h1>

  {% capture written_year %}'None'{% endcapture %}
  {% for post in site.posts %}
    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}

    {% if year != written_year %}
      <!-- Render a new year heading if the year changes -->
      <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
      {% capture written_year %}{{ year }}{% endcapture %}
    {% endif %}

    <!-- Render each post -->
    <div class="archive__post">
      {% include archive-single.html %}
    </div>
  {% endfor %}
</div>

